#cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

header {
    background-color: #cac8c8;
    padding: 1rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #888;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

section {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

section img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 10px #888;
  border-radius: 5px;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
}

footer {
    background-color: #cac8c8;
    padding: 1rem;
}

p {
    color: #000;
    text-align: center;
    font-size: 1rem;
}